*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.margin{
    margin: 0 auto;

}
header{
    width: 100%;
    height: 400px;
    background-color: aquamarine;
    

}
section{
    
    margin: 0 auto;
    width: 70%;
    background-color: orange;
    display: flex;
    justify-content: space-between;
}
.border{
    border: 3px solid red;
    border-style: dashed;
    
}
.border-type{
    border-style: dashed;
}
nav{
    
    
    display: flex;
    
}
ul{
    list-style-type: none;
    display: flex;
    border-left: 3px solid red;
    border-right: 3px solid red;
    border-top: 0px;
    border-bottom: 0px;
}
.box-pink{
    margin-top: 20px;
    height: 300px;
    width: 60%;
    background-color: pink;
}
