*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.margin{
    margin: 0 auto;
}
.flex{
    display: flex;
}
.container-1{
    background-color: blue;
    height: 300px;
    width: 1000px;
}
.container-main{
    
    background-color: white;
    margin-top: 0px;
    height: 1000px;
    width: 1000px;
    
}
.section-1{
    padding-top: 10px;
    height: 100%;
    background-color: aquamarine;
}
.section-2{
    width: 70%;
    background-color: orange;
}
.section-3{
    height: 92%;
    width: 100%;
}
.section-4{
    height: 100%;
    width: 70%;
    align-items: center;
    flex-direction: row;
}
.direction{
    flex-direction: row-reverse;
}
.section-5{
    height: 100%;
    max-width: 70%;
    align-items: center;
}
.section-6{
    height: 100%;
    max-width: 70%;
    align-items: center
}
.section-7{
    align-items: center;
    height: 100%;
    max-width: 70%;
    
}
.border{
    border: 2px solid black;    
}
.height{
    height: 90%;
    width: 60%;
}
.border-white{
    border: 2px solid white;
}
.border-type{
    border-style: dashed;
}
nav{
    justify-content: space-between;
    display: flex;
    align-items: center;
    padding: 0px 7px;
}
ul{
    list-style-type: none;
    display: flex;
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-top: 0px;
    border-bottom: 0px;
}
li{
    margin: 5px;
}
.box-big{
    margin: 10px 0px;
    height: 90%;
    width: 100%;
    background-color: rgb(21, 18, 96);
    align-items: center;
    justify-content: center;
}
.box-big-2{
    
    height: 80%;
    width: 70%;
    background-color: rgb(244, 127, 219);
}
.box-row{
    height: 300px;
    width: 100%;
    display: flex;
    flex-direction: row;
}
.blu-square{
    background-color: blue;
    height: 85%;
}

.box-blu{
    margin: 10px 0;
    height: 80%;
    width: 60%;
    background-color: blue;

}
.box-pink{
    margin: 10px 0;
    background-color: pink;
    width: 40%;
    height: 80%;
}
.background-gray{
    
    height: 20%;
    width: 100%;
    background-color: gray;
}
.background-white{
    
    height: 20%;
    width: 100%;
    background-color: white;
}
.box-large{
    margin: 20px 0px;
    height: 90%;
    width: 100%;
    background-color: green;
}
.background-gray-large{
    
    height: 40%;
    width: 100%;
    background-color: gray;
}
footer{
    height: 500px;
}
.background-footer{
    background-color: rgb(39, 39, 39);
    height: 90%;
}
.background-footer-2{
    background-color: rgb(39, 39, 39);
    height: 10%;
}
.box-red{
    margin: 20px 0px;
    height: 90%;
    width: 40%;
    background-color: red;
}
.box-turchese{
    height: 100%;
    width: 25%;
    background-color: rgb(7, 121, 95);
}
.box-footer{
    margin: 5px 0px;
    height: 80%;
    width: 100%;
    background-color: rgb(7, 121, 95);
    justify-content: space-between;
    align-items: center;
}
.logo-bottone-bg{
    height: 60%;
background-color: red;
}
