*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.clearfix::after{
    content: "";
    display: table;
    clear: both;
}
.margin{
    margin: 0 auto;

}
.container-1{
    background-color: blue;
    height: 300px;
    width: 1000px;
    
}
.section-1{
    padding: 10px 0px;
    height: 25%;
    background-color: aquamarine;
    

}
.section-2{
    margin: 0 auto;
    width: 70%;
    background-color: orange;
}
.section-3{
    margin: 0 auto;
    height: 85%;
    max-width: 70%;
}
.border{
    border: 3px solid red;
    border-style: dashed;
    
}
.border-type{
    border-style: dashed;
}
nav{
    justify-content: space-between;
    display: flex;
    align-items: center;
    
    padding: 0px 7px;
}
ul{
    list-style-type: none;
    display: flex;
    border-left: 3px solid red;
    border-right: 3px solid red;
    border-top: 0px;
    border-bottom: 0px;
}
li{
    margin: 5px;
}
.box-big{
    margin: 10px 0px;
    height: 80%;
    width: 100%;
    background-color: blueviolet;
}
.box-row{
    
    height: 300px;
    width: 100%;
    display: flex;
    flex-direction: row;
    
}
main{
    background-color: white;
}
.blu-square{
    background-color: blue;
    height: 85%;
}
.pink-square{
    background-color: pink;
    height: 85%;
}
